version: '3.1'

services:

  db:
    image: mysql:8.0.20
    command: --local-infile=1 --default-authentication-plugin=mysql_native_password 
    environment:
      MYSQL_DATABASE: "testBricsysDevOps"
      MYSQL_USER: "testBricsysDevOps"
      MYSQL_PASSWORD: "testSecurePassword"
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
    ports:
      - 33061:3306
    volumes:
      - ./mysql/data:/var/lib/mysql
    networks:
      - backend
      
  app:
    image: flaskimage
    environment:
      MYSQL_DATABASE_DB: "testBricsysDevOps"
      MYSQL_DATABASE_USER: "testBricsysDevOps"
      MYSQL_DATABASE_PASSWORD: "testSecurePassword"
      MYSQL_DATABASE_HOST: "db"
    ports:
      - 5000:5000
    volumes:
      - ./txt_files:/opt/app/txt_files/origin:ro
    depends_on:
      - db
    networks:
      - backend

networks:
  backend:
    driver: bridge

